Repository 5ouma/utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pinact, ghalint, ghalint-act

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        args: [--whitespaces-count, "2"]
        exclude: ^(.+/)*(.+\.go|go\..+|Makefile|.+\.plist)$

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint
        language: golang
        additional_dependencies:
          - github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1

  - repo: local
    hooks:
      - id: pinact
        name: Pin versions of Actions and reusable workflows
        description: Pin versions of GitHub Actions and reusable workflows
        entry: pinact run
        args: [--verify]
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/pinact/v3/cmd/pinact@v3.9.0
        types: [yaml]
        files: ^(\.github/workflows/.+|(.+/)*action)\.ya?ml$

  - repo: local
    hooks:
      - id: ghalint
        name: Validate GitHub Actions workflows
        description: Check GitHub Actions workflows for security policy compliance
        entry: ghalint run
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.5
        types: [yaml]
        files: ^\.github/workflows/.+\.ya?ml$
      - id: ghalint-act
        name: Validate GitHub Actions
        description: Check GitHub Actions for security policy compliance
        entry: ghalint act
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.5
        types: [yaml]
        files: ^(.+/)*action\.ya?ml$

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [--no-config]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.24.2
    hooks:
      - id: renovate-config-validator
        language: bun
        language_version: default
        files: (^|/).?(renovate(?:rc)?|default|labels)(?:\.json5?)?$
        args: [--strict]

  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.1.23
    hooks:
      - id: rumdl
        args: [--fix, --fail-on, warning, --disable, "MD013,MD024,MD033,MD036"]

  - repo: local
    hooks:
      - id: shellcheck
        name: ShellCheck
        description: Static analysis tool for shell scripts
        entry: shellcheck
        language: golang
        additional_dependencies:
          - github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1
        types: [shell]
        args: [-e, "SC1071,SC1072,SC1073,SC1090,SC1091,SC2015,SC2148,SC2154"]

docs(readme): Add a note to use prek not pre-commit
  README.md
Due: none

ci(ci): Add a Deno check workflow
  .github/workflows/ci.yml
Due: pinact, ghalint

feat(pre-commit)!: Use Deno as a upload-git-commit-notion language (#947)
  .github/workflows/ci.yml
  .pre-commit-hooks.yaml
  README.md
  pre-commit/hooks/upload-git-commit-notion/deno.json
  pre-commit/hooks/upload-git-commit-notion/deno.lock
  pre-commit/hooks/upload-git-commit-notion/main.ts
  pre-commit/scripts/upload-git-commit-notion
Due: pinact, ghalint

docs(readme): Bump minor version
  README.md
Due: none

chore(release): Ignore lockfile maintenance for release note
  .github/release.yml
  .github/renovate.json
Due: none

chore(release): Ignore lockfile maintenance for release note (#950)
  .github/release.yml
  .github/renovate.json
Due: none

fix(git-notion): Specify Deno command explicity
  .pre-commit-hooks.yaml
  pre-commit/hooks/upload-git-commit-notion.ts
  pre-commit/hooks/upload-git-commit-notion/deno.json
  pre-commit/hooks/upload-git-commit-notion/deno.lock
Due: none

ci(ci): Apply changes for the new Deno project structure
  .github/renovate.json
  .github/workflows/ci.yml
Due: pinact, ghalint

fix(pre-commit): Specify Deno command explicitly (#957)
  .github/renovate.json
  .github/workflows/ci.yml
  .pre-commit-hooks.yaml
  pre-commit/hooks/upload-git-commit-notion.ts
  pre-commit/hooks/upload-git-commit-notion/deno.json
  pre-commit/hooks/upload-git-commit-notion/deno.lock
Due: pinact, ghalint

ci(actions): Enable concurrency for each workflow
  .github/workflows/ci.yml
  .github/workflows/gist-update.yml
  .github/workflows/label-past-pr.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
Due: pinact, ghalint

ci(actions): Enable concurrency for each workflow (#958)
  .github/workflows/ci.yml
  .github/workflows/gist-update.yml
  .github/workflows/label-past-pr.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
Due: pinact, ghalint

ci(renovate): Add my labels preset
  .github/renovate.json
Due: none

ci(actions): Add my labels preset (#959)
  .github/renovate.json
Due: none

ci(merge-gatekeeper): Start running when each workflow finishes
  .github/workflows/merge-gatekeeper.yml
Due: pinact, ghalint

ci(merge-gatekeeper): Start running when each workflow finishes (#962)
  .github/workflows/merge-gatekeeper.yml
Due: pinact, ghalint

ci(merge-gatekeeper): Follow the original Merge Gatekeeper usage
  .github/workflows/merge-gatekeeper.yml
Due: pinact, ghalint

ci(merge-gatekeeper): Follow the original Merge Gatekeeper usage (#963)
  .github/workflows/merge-gatekeeper.yml
Due: pinact, ghalint

ci(renovate): Don't add the meta labels
  .github/release.yml
  .github/renovate.json
Due: none

ci(renovate): Don't add the meta labels (#967)
  .github/release.yml
  .github/renovate.json
Due: none

ci(ci): Specify Deno version
  .github/workflows/ci.yml
Due: pinact, ghalint

ci(ci): Specify Deno version (#978)
  .github/workflows/ci.yml
Due: pinact, ghalint

chore(deps): Update pinact major version
  .pre-commit-config.yaml
Due: none

ci(renovate): Update pre-commit major version as well
  .github/renovate.json
Due: none

ci(renovate): Update pre-commit major version as well (#987)
  .github/renovate.json
Due: none

ci(release): Set persist-credential false
  .github/ghalint.yml
  .github/workflows/release.yml
Due: pinact, ghalint

ci(release): Set persist-credential false (#1010)
  .github/ghalint.yml
  .github/workflows/release.yml
Due: pinact, ghalint

ci(release): Specify host to set up credential helper
  .github/workflows/release.yml
Due: pinact, ghalint

ci(release): Specify host to set up credential helper (#1011)
  .github/workflows/release.yml
Due: pinact, ghalint

ci(renovate): Make minimum release age to 5 days
  default.json
Due: none

ci(renovate): Make minimum release age to 5 days (#1014)
  default.json
Due: none

chore(data): Support pinact v4 for pre-commit
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Support pinact v4 for pre-commit (#1017)
  .pre-commit-config.yaml
Due: none

style(label-past-pr): Don't pass empty array
  label-past-pr/action.yml
Due: pinact, ghalint-act

style(label-past-pr): Don't pass empty array (#1018)
  label-past-pr/action.yml
Due: pinact, ghalint-act

ci(renovate): Specify Omochice config version
  .github/renovate.json
Due: none

ci(renovate): Specify Omochice config version (#1043)
  .github/renovate.json
Due: none

ci(ci): Loosen timeout minutes
  .github/workflows/ci.yml
Due: pinact, ghalint

ci(ci): Loosen timeout minutes (#1136)
  .github/workflows/ci.yml
Due: pinact, ghalint

chore(pre-commit): Use forked actionlint
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Use forked actionlint (#1216)
  .pre-commit-config.yaml
Due: none
