Repository 5ouma/utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pinact, ghalint, ghalint-act

.pre-commit-config.yaml:

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: remove-tabs
        args: [--whitespaces-count, "2"]
        exclude: ^(.+/)*(.+\.go|go\..+|Makefile|.+\.plist)$

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint
        language: golang
        additional_dependencies:
          - github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1

  - repo: local
    hooks:
      - id: pinact
        name: Pin versions of Actions and reusable workflows
        description: Pin versions of GitHub Actions and reusable workflows
        entry: pinact run
        args: [--verify]
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/pinact/v3/cmd/pinact@v3.9.0
        types: [yaml]
        files: ^(\.github/workflows/.+|(.+/)*action)\.ya?ml$

  - repo: local
    hooks:
      - id: ghalint
        name: Validate GitHub Actions workflows
        description: Check GitHub Actions workflows for security policy compliance
        entry: ghalint run
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.5
        types: [yaml]
        files: ^\.github/workflows/.+\.ya?ml$
      - id: ghalint-act
        name: Validate GitHub Actions
        description: Check GitHub Actions for security policy compliance
        entry: ghalint act
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.5
        types: [yaml]
        files: ^(.+/)*action\.ya?ml$

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [--no-config]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.24.2
    hooks:
      - id: renovate-config-validator
        language: bun
        language_version: default
        files: (^|/).?(renovate(?:rc)?|default|labels)(?:\.json5?)?$
        args: [--strict]

  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.1.23
    hooks:
      - id: rumdl
        args: [--fix, --fail-on, warning, --disable, "MD013,MD024,MD033,MD036"]

  - repo: local
    hooks:
      - id: shellcheck
        name: ShellCheck
        description: Static analysis tool for shell scripts
        entry: shellcheck
        language: golang
        additional_dependencies:
          - github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1
        types: [shell]
        args: [-e, "SC1071,SC1072,SC1073,SC1090,SC1091,SC2015,SC2148,SC2154"]

refactor(pre-commit): Use prek-action instead of manual download
  .github/renovate.json
  pre-commit/action.yml
Due: pinact, ghalint-act

refactor(pre-commit): Use prek-action instead of manual download (#832)
  .github/renovate.json
  pre-commit/action.yml
Due: pinact, ghalint-act

revert(pre-commit): Stop using prek-action
  .github/renovate.json
  pre-commit/action.yml
Due: pinact, ghalint-act

revert(pre-commit): Stop using prek-action (#833)
  .github/renovate.json
  pre-commit/action.yml
Due: pinact, ghalint-act

fix(pre-commit): Remove the `--fix` flag from the rumdl hook
  .pre-commit-config.yaml
Due: none

fix(pre-commit): Remove the `--fix` flag from the rumdl hook (#857)
  .pre-commit-config.yaml
Due: none

ci(actions): Disable environment deployments
  .github/workflows/gist-update.yml
  .github/workflows/release.yml
Due: pinact, ghalint

ci(actions): Disable environment deployments (#870)
  .github/workflows/gist-update.yml
  .github/workflows/release.yml
Due: pinact, ghalint

ci(actions): Use client ID for App token generation
  .github/workflows/release.yml
Due: pinact, ghalint

ci(actions): Use client ID for App token generation (#887)
  .github/workflows/release.yml
Due: pinact, ghalint

fix(pre-commit): Avoid using the `commands` variable name
  pre-commit/scripts/upload-git-commit-notion
Due: none

fix(pre-commit): Avoid using the `commands` variable name (#888)
  pre-commit/scripts/upload-git-commit-notion
Due: none

feat(pre-commit): Use betterleaks instead of gitleaks
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Use betterleaks instead of gitleaks (#889)
  .pre-commit-config.yaml
Due: none

chore(data): Pin the prek hooks by hashes
  .github/renovate.json
  .pre-commit-config.yaml
Due: none

Pin the pre-commit hooks by hashes (#890)
  .github/renovate.json
  .pre-commit-config.yaml
Due: none

ci(renovate): Use JSONata to parse prek version
  .github/renovate.json
Due: none

ci(renovate): Use JSONata to parse prek version (#899)
  .github/renovate.json
Due: none

feat(label-past-pr): Add an action to append a label to past PRs
  .github/release.yml
  .github/tagpr.ini
  .github/utils-labeler.yml
  README.md
  label-past-pr/action.yml
Due: pinact, ghalint-act

ci(label-past-pr): Add a workflow to label past PRs
  .github/release.yml
  .github/workflows/label-past-pr.yml
Due: pinact, ghalint

feat(label-past-pr): Add an action to append a label to past PRs (#914)
  .github/release.yml
  .github/tagpr.ini
  .github/utils-labeler.yml
  .github/workflows/label-past-pr.yml
  README.md
  label-past-pr/action.yml
Due: pinact, ghalint, ghalint-act

chore(label-past-pr): Match branch name exatly
  label-past-pr/action.yml
Due: pinact, ghalint-act

chore(label-past-pr): Match branch name exactly (#916)
  label-past-pr/action.yml
Due: pinact, ghalint-act

ci(label-past-pr): Check out the repository
  .github/workflows/label-past-pr.yml
Due: pinact, ghalint

ci(label-past-pr): Check out the repository (#918)
  .github/workflows/label-past-pr.yml
Due: pinact, ghalint

fix(label-past-pr): The sort direction is asc in default
  label-past-pr/action.yml
Due: pinact, ghalint-act

fix(label-past-pr): Make the sort direction to desc (#921)
  label-past-pr/action.yml
Due: pinact, ghalint-act

refactor(label-past-pr): Return only PR numbers
  label-past-pr/action.yml
Due: pinact, ghalint-act

refactor(label-past-pr): Return only PR numbers (#922)
  label-past-pr/action.yml
Due: pinact, ghalint-act

refactor(label-past-pr): Make it possible to specify branch prefix
  README.md
  label-past-pr/action.yml
Due: pinact, ghalint-act

refactor(label-past-pr): Make it possible to specify branch prefix (#923)
  README.md
  label-past-pr/action.yml
Due: pinact, ghalint-act

chore(update-lock)!: Remove the action
  .github/release.yml
  .github/tagpr.ini
  .github/utils-labeler.yml
  README.md
  default.json
  update-deno-lock-file/action.yml
Due: pinact, ghalint-act

chore(update-lock)!: Remove the action (#924)
  .github/release.yml
  .github/tagpr.ini
  .github/utils-labeler.yml
  README.md
  default.json
  update-deno-lock-file/action.yml
Due: pinact, ghalint-act

chore(setup-bun): Set up Node.js before running Bun
  setup-bun-with-cache/action.yml
Due: pinact, ghalint-act

chore(setup-bun): Set up Node.js before running Bun (#931)
  setup-bun-with-cache/action.yml
Due: pinact, ghalint-act

chore(pre-commit): Don't set up Go if all hooks are restored
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(pre-commit): Don't set up Go if all hooks are restored (#933)
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(data): Make Renovate to treat as repo-wide config
  .pre-commit-config.yaml
Due: none

chore(data): Make Renovate to treat as repo-wide config (#940)
  .pre-commit-config.yaml
Due: none

feat(pre-commit)!: Use Deno as a `upload-git-commit-notion` language
  .pre-commit-hooks.yaml
  pre-commit/hooks/upload-git-commit-notion/deno.json
  pre-commit/hooks/upload-git-commit-notion/deno.lock
  pre-commit/hooks/upload-git-commit-notion/main.ts
  pre-commit/scripts/upload-git-commit-notion
Due: none
