Repository 5ouma/utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pinact, ghalint, ghalint-act

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        args: [--whitespaces-count, "2"]
        exclude: ^(.*\.go|go\..*|.*\.plist)$

  - repo: https://github.com/crate-ci/typos
    rev: v1.35.8
    hooks:
      - id: typos

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: pinact
        name: Pin versions of Actions and reusable workflows
        description: Pin versions of GitHub Actions and reusable workflows
        entry: pinact run
        args: [--verify]
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/pinact/v3/cmd/pinact@v3.4.2
        types: [yaml]
        files: ^(\.github/workflows/.+|(.+/)*action)\.ya?ml$

  - repo: local
    hooks:
      - id: ghalint
        name: Validate GitHub Actions workflows
        description: Check GitHub Actions workflows for security policy compliance
        entry: ghalint run
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3
        types: [yaml]
        files: ^\.github/workflows/.+\.ya?ml$
      - id: ghalint-act
        name: Validate GitHub Actions
        description: Check GitHub Actions for security policy compliance
        entry: ghalint act
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3
        types: [yaml]
        files: ^(.+/)*action\.ya?ml$

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.12.1
    hooks:
      - id: zizmor
        args: [--pedantic]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.93.3
    hooks:
      - id: renovate-config-validator
        files: (^|/).?(renovate(?:rc)?|default|labels)(?:\.json5?)?$
        args: [--strict]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
        args: [--disable, MD013, MD024, MD033, MD036]

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        args: [-e, "SC1071,SC1072,SC1073,SC1090,SC1091,SC2015,SC2148,SC2154"]

ci(actions): Use Ubuntu-Slim runner for light operations (#555)
  .github/workflows/gist-update.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  README.md
Due: pinact, ghalint

chore(prek): Fail rumdl when warnings occur
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Fail rumdl when warnings occur (#615)
  .pre-commit-config.yaml
Due: none

ci(actions): Update the cache key
  pre-commit/action.yml
  setup-bun-with-cache/action.yml
Due: pinact, ghalint-act

ci(actions): Update the cache key (#616)
  pre-commit/action.yml
  setup-bun-with-cache/action.yml
Due: pinact, ghalint-act

refactor(pre-commit): Use built-in environment variables
  pre-commit/scripts/upload-git-commit-notion
Due: none

refactor(pre-commit): Use built-in environment variables (#618)
  pre-commit/scripts/upload-git-commit-notion
Due: none

feat(pre-commit): Host pinact and ghalint hooks
  .github/renovate.json
  .pre-commit-hooks.yaml
  README.md
Due: none

feat(pre-commit): Add pinact and ghalint hooks (#620)
  .github/renovate.json
  .pre-commit-hooks.yaml
  README.md
Due: none

revert(pre-commit): Add pinact and ghalint hooks (#620)
  .github/renovate.json
  .pre-commit-hooks.yaml
  README.md
Due: none

revert(pre-commit): Delete pinact and ghalint hooks (#620) (#622)
  .github/renovate.json
  .pre-commit-hooks.yaml
  README.md
Due: none

fix(pre-commit): Hide Git commit sign message
  pre-commit/scripts/upload-git-commit-notion
Due: none

fix(pre-commit): Hide Git commit sign message (#632)
  pre-commit/scripts/upload-git-commit-notion
Due: none

style(pre-commit): Use `script` instead of `unsupported_script`
  .pre-commit-hooks.yaml
Due: none

style(pre-commit): Use `script` instead of `unsupported_script` (#662)
  .pre-commit-hooks.yaml
Due: none

ci(renovate): Remove `additional_dependencies` RegExp
  .github/renovate.json
Due: none

ci(renovate): Remove pre-commit `additional_dependencies` RegExp (#663)
  .github/renovate.json
Due: none

fix(pre-commit): Ignore all signing log from environment variable
  pre-commit/scripts/upload-git-commit-notion
Due: none

fix(pre-commit): Ignore all signing log from environment variable (#665)
  pre-commit/scripts/upload-git-commit-notion
Due: none

refactor(pre-commit): Clean up hook cache
  pre-commit/action.yml
Due: pinact, ghalint-act

feat(pre-commit): Clean up hook cache (#672)
  pre-commit/action.yml
Due: pinact, ghalint-act

feat(pre-commit): Use Bun instead of Node.js
  .pre-commit-config.yaml
Due: none

feat(pre-commit): Use Bun instead of Node.js (#673)
  .pre-commit-config.yaml
Due: none

docs(readme): Add a note to install pre-commit.ci lite
  README.md
Due: none

docs(readme): Add a note to install pre-commit.ci lite (#674)
  README.md
Due: none

chore(pre-commit): Use go-shellcheck instead of local one
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Add go-shellcheck as a dependency of actionlint
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Use go-shellcheck instead of local one (#679)
  .pre-commit-config.yaml
Due: none

refactor(pre-commit): Use `cancelled()` function instead of `always()`
  pre-commit/action.yml
Due: pinact, ghalint-act

refactor(pre-commit): Use `cancelled()` function instead of `always()` (#684)
  pre-commit/action.yml
Due: pinact, ghalint-act

ci(pre-commit): Don't use slim Ubuntu runner
  .github/workflows/pre-commit.yml
  README.md
Due: pinact, ghalint

ci(pre-commit): Don't use slim Ubuntu runner for pre-commit (#690)
  .github/workflows/pre-commit.yml
  README.md
Due: pinact, ghalint

ci(renovate): Remove the `lockFileMaintenance`
  default.json
Due: none

ci(renovate): Remove the `lockFileMaintenance` (#733)
  default.json
Due: none

ci(ci): Use environment secrets and variables for security
  .github/workflows/gist-update.yml
  .github/workflows/release.yml
Due: pinact, ghalint

ci(ci): Use environment secrets and variables for security (#800)
  .github/workflows/gist-update.yml
  .github/workflows/release.yml
Due: pinact, ghalint

fix(pre-commit): Set up the latest Go
  pre-commit/action.yml
Due: pinact, ghalint-act

fix(pre-commit): Set up the latest Go (#830)
  pre-commit/action.yml
Due: pinact, ghalint-act

refactor(pre-commit): Pin used Go version
  pre-commit/action.yml
Due: pinact, ghalint-act

refactor(pre-commit): Pin pre-commit used Go version (#831)
  pre-commit/action.yml
Due: pinact, ghalint-act
