Repository 5ouma/utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: pinact, ghalint, ghalint-act

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        args: [--whitespaces-count, "2"]
        exclude: ^(.*\.go|go\..*|.*\.plist)$

  - repo: https://github.com/crate-ci/typos
    rev: v1.35.8
    hooks:
      - id: typos

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: pinact
        name: Pin versions of Actions and reusable workflows
        description: Pin versions of GitHub Actions and reusable workflows
        entry: pinact run
        args: [--verify]
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/pinact/v3/cmd/pinact@v3.4.2
        types: [yaml]
        files: ^(\.github/workflows/.+|(.+/)*action)\.ya?ml$

  - repo: local
    hooks:
      - id: ghalint
        name: Validate GitHub Actions workflows
        description: Check GitHub Actions workflows for security policy compliance
        entry: ghalint run
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3
        types: [yaml]
        files: ^\.github/workflows/.+\.ya?ml$
      - id: ghalint-act
        name: Validate GitHub Actions
        description: Check GitHub Actions for security policy compliance
        entry: ghalint act
        language: golang
        additional_dependencies:
          - github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3
        types: [yaml]
        files: ^(.+/)*action\.ya?ml$

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.12.1
    hooks:
      - id: zizmor
        args: [--pedantic]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.93.3
    hooks:
      - id: renovate-config-validator
        files: (^|/).?(renovate(?:rc)?|default|labels)(?:\.json5?)?$
        args: [--strict]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
        args: [--disable, MD013, MD024, MD033, MD036]

  - repo: https://github.com/detailyang/pre-commit-shell
    rev: v1.0.6
    hooks:
      - id: shell-lint
        args: [-e, "SC1071,SC1072,SC1073,SC1090,SC1091,SC2015,SC2148,SC2154"]

refactor(pre-commit): Specify the prek version
  .github/renovate.json
  pre-commit/action.yml
Due: pinact, ghalint-act

refactor(pre-commit): Specify the prek version (#411)
  .github/renovate.json
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(pre-commit): Remove the zizmor pedantic option
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Remove the zizmor pedantic option (#422)
  .pre-commit-config.yaml
Due: none

chore(renovate): Add `:pinDependencies` default preset
  default.json
Due: none

refactor(pre-commit): Use short config extension
  .pre-commit-config.yml
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(renovate): Add `:pinDependencies` default preset (#424)
  default.json
Due: none

fix(pre-commit): Add `--no-config` flag to zizmor
  .pre-commit-config.yaml
Due: none

fix(pre-commit): Add `--no-config` flag to zizmor (#435)
  .pre-commit-config.yaml
Due: none

ci(gist-update): Use original composite action
  .github/workflows/gist-update.yml
Due: pinact, ghalint

ci(gist-update): Use original composite action (#436)
  .github/workflows/gist-update.yml
Due: pinact, ghalint

fix(pre-commit): Ignore all Go and plist files
  .pre-commit-config.yaml
Due: none

fix(pre-commit): Ignore all Go and plist files (#472)
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Allow Makefile tab chars
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Allow Makefile tab chars for pre-commit (#496)
  .pre-commit-config.yaml
Due: none

feat(pre-commit): Add a hook to upload Git commits to Notion
  .github/tagpr.ini
  .pre-commit-hooks.yaml
  README.md
  pre-commit/upload-git-commit-notion
Due: none

feat(pre-commit): Add a hook to upload Git commits to Notion (#506)
  .github/tagpr.ini
  .pre-commit-hooks.yaml
  README.md
  pre-commit/upload-git-commit-notion
Due: none

style(pre-commit): Create a scripts directory for hooks
  .pre-commit-hooks.yaml
  pre-commit/scripts/upload-git-commit-notion
Due: none

style(pre-commit): Create a scripts directory for hooks (#507)
  .pre-commit-hooks.yaml
  pre-commit/scripts/upload-git-commit-notion
Due: none

fix(pre-commit): Don't pass file names to Git commit upload hook
  .pre-commit-hooks.yaml
Due: none

fix(pre-commit): Don't pass file names to Git commit upload hook (#509)
  .pre-commit-hooks.yaml
Due: none

chore(pre-commit): Always print upload-git-commit-notion logs
  .pre-commit-hooks.yaml
Due: none

chore(pre-commit): Always print upload-git-commit-notion logs (#510)
  .pre-commit-hooks.yaml
Due: none

chore(labeler): Add pre-commit label when hooks difinition changed
  .github/utils-labeler.yml
Due: none

chore(pre-commit): Change the upload-git-commit-notion language
  .pre-commit-hooks.yaml
Due: none

chore(labeler): Add pre-commit label when hooks definition changed (#511)
  .github/utils-labeler.yml
Due: none

chore(pre-commit): Change the upload-git-commit-notion language (#512)
  .pre-commit-hooks.yaml
Due: none

feat(pre-commit): Make it possible to specify custom config path
  README.md
  pre-commit/action.yml
Due: pinact, ghalint-act

feat(pre-commit): Make it possible to specify custom config path (#516)
  README.md
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(pre-commit): Switch to rumdl instead of markdownlint
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Switch to rumdl instead of markdownlint (#517)
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Use prek built-in hooks instead of pre-commit original one
  .pre-commit-config.yaml
Due: none

chore(renovate): Make timestamp optional for minimum release age
  default.json
Due: none

chore(renovate): Make timestamp optional for minimum release age (#523)
  default.json
Due: none

fix(pre-commit): Remove the duplicated double quote
  pre-commit/action.yml
Due: pinact, ghalint-act

fix(pre-commit): Remove the duplicated double quote (#524)
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(pre-commit): Use prek built-in hooks instead of pre-commit original one (#522)
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Download config when default is specified
  pre-commit/action.yml
Due: pinact, ghalint-act

chore(pre-commit): Download config when default is specified (#536)
  pre-commit/action.yml
Due: pinact, ghalint-act

ci(actions): Use Ubuntu-Slim runner for light operations
  .github/workflows/gist-update.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  README.md
Due: pinact, ghalint
